nav {
    display: flex;
    flex-direction: column;
}

nav input {
    width: 267;
}
nav .submit{
    background-color: #1E213A;
    color: #E7E7EB;
text-align: start;
margin: auto;
width: 100px;

}
nav .button{
    background-color: #1E213A;
    color: #E7E7EB;
text-align: start;
margin: auto;
width: 367px
}